# Solutions
doc/solutions/cw03_ConvFit.m
doc/solutions/coursework1_opional.m
doc/solutions/cw01_dMRI_data.m
doc/solutions/cw04_DL_Fit.m
doc/solutions/cw02_NODDI_model.m
doc/solutions/coursework_outputs/cw1.mat
doc/solutions/coursework_outputs/cw2.mat

# Folders
NODDI_example_dataset/

# Matlab temporary files
*.asv
